.container-fluid {
    background-color: black;
}

.nav-link {
    color: #ffffff !important; 
    font-weight: bold;
}

.nav-link.active {
    color: #ffffff !important;
    font-weight: bold; 
}

.navbar-brand {
    color: #ffffff !important;
}

.navbar-brand:hover {
    color: rgb(62, 62, 69) !important;
}

.nav-link:hover {
    color: rgb(62, 62, 69) !important;
}

.dropdown-item:hover {
    color: rgb(12, 12, 22) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9; 
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); 
    margin-top: 60px; 
}

.login-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 40px; 
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    text-decoration: none;
    color: #2f3f39;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #6d776d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #151815;
}

footer {
    background-color: #060606;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%; 
    z-index: 100; 
}

footer .social a {
    color: #dccbc4;
    margin: 0 10px;
    text-decoration: none;
}

footer .social a:hover {
    color: #fff;
    text-decoration: underline;
}

body {
    margin-bottom: 60px; 
}
